/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrolling */
}

header {
    background-color: #aa0bfa;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.project {
    margin-bottom: 40px; /* Increase margin to create space between projects */
    position: relative;
    opacity: 0; /* Set initial opacity to 0 for animation */
    animation: slideIn 0.5s ease forwards; /* Apply animation */
}

.project img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure images don't exceed container width */
}

.project-description {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.project-description h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Animation keyframes */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
