/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrolling */
}

header {
    background-color: #aa0bfa;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    padding-top: 100px; /* Add padding to make space for fixed-positioned titles */
}

.project {
    margin-bottom: 40px; /* Increase margin to create space between projects */
    position: relative;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure images don't exceed container width */
}

.project-description {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.project-description h2 {
    margin-top: 0;
    text-align: center; /* Center project titles */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.image-container {
    display: flex; /* Use flexbox to align images horizontally */
    justify-content: space-between; /* Add space between images */
    flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
}

.image-container img {
    max-width: calc(25% - 10px); /* Set maximum width for each image (25% of container width minus margin) */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin between images */
}

.image-with-text {
    display: flex; /* Use flexbox to align image and text side by side */
    margin-bottom: 20px; /* Add margin to separate sections */
}

.image-with-text img {
    max-width: 60%; /* Set maximum width for the image */
    margin-right: 10%; /* Add margin between image and text block */
}

.text-block {
    flex: 1; /* Allow text block to take up remaining space */
}

.text-block p {
    margin: 0; /* Remove default margin */
}
