/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrolling */
}

header {
    /*background-color: #aa0bfa;*/
    background-color: #474747;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.header-link {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.header-link img {
    max-width: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
    width: 15%;
}

.menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    z-index: 2;
    /* Ensure menu button is on top */
    position: absolute;
    /* Position relative to the banner */
    left: 10px;
    /* Adjust position to the left */
}

.menu-btn .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
}

#sidebar {
    position: fixed;/* Fixed position */
    top: 0;
    left: -200px; /* Offscreen initially */
    width: 200px;
    height: 100%;
    background-color: #333; /* Dark background color */
    padding-top: 60px; /* Add space for the banner */
    transition: left 0.3s ease; /* Add smooth transition */
    z-index: 1000; /* Set a high z-index value */
}

#sidebar.active {
    left: 0;
    /* Move sidebar to show */
    width: 25%;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    padding-top: 50px; /* Add padding to make space for fixed-positioned titles */
}

.project {
    margin-bottom: 40px; /* Increase margin to create space between projects */
    position: relative;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure images don't exceed container width */
}

.project-description {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.project-description h2 {
    margin-top: 0;
    text-align: center; /* Center project titles */
}

footer {
    background-color: #aa0bfa;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}

.image-container {
    display: flex; /* Use flexbox to align images horizontally */
    justify-content: space-between; /* Add space between images */
    flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
}

.image-container img {
    max-width: calc(25% - 5px); /* Set maximum width for each image (25% of container width minus margin) */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin between images */
}

.image-with-text {
    display: flex; /* Use flexbox to align image and text side by side */
    margin-bottom: 20px; /* Add margin to separate sections */
}

.image-with-text img {
    max-width: 60%; /* Set maximum width for the image */
    margin-right: 10%; /* Add margin between image and text block */
}

.text-block {
    flex: 1; /* Allow text block to take up remaining space */    
}

.text-block p {
    margin: 0; /* Remove default margin */
}

.project-card {
    margin: 0 10px 10px 0;
    position: relative;
    text-align: center;
    display: inline-flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .project-card {
        width: calc(100% - 20px);
    }
}

.project-card h2 {
    margin-top: 0;
}

.project-description {
    margin-bottom: 10px;
    flex-grow: 1; /* Allow description to grow to fill available space */
}

/*.image-preview {
    /* Style your image preview here */
/*}*/

.article-card {
    background: #fff;
    color: #474747;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.24);
    display: inline-block; /* Change display to inline-block to allow multiple cards in a row */
    width: 30%; /* Each card occupies 30% of screen width with 2.5% space on each side */
    margin-right: 2.5%; /* Add space between cards */
    margin-bottom: 2.5%; /* Add space below each card */
    box-sizing: border-box; /* Include padding and border in width calculation */
    height: 600px;
    text-align: center;
}

.article-content {
    flex-grow: 1; /* Allow content to grow to fill available space */
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .article-card {
        width: calc(100% - 5%); /* Change width to 100% on smaller screens */
        margin-right: 0; /* Remove right margin on smaller screens */
    }
}

.article-thumbnail-wrap {
    overflow: hidden;
    width: 100%; /* Set width to 100% to ensure the thumbnail fills the entire width of the card */
    height: 50%; /* Set height to 100% to ensure the thumbnail fills the entire height of the card */
    display: flex; /* Use flexbox to center the thumbnail */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.article-thumbnail {
    width: 100%;
    height: auto;
}

.article-publication-meta {
    margin-bottom: 10px;
}

.tags {
    margin-left: 5%;
    margin-top: 10px; /* Add space between author info and tags */
}

.tags a {
    margin-right: 5px;
}

.card-content p {
    margin-bottom: 10px;
}

.author-avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    margin-left: 30%;
}

.author-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%; /* Push author info to the right */

}

.author-row {
    display: flex;
    align-items: center;
    margin-top: auto; /* Push author row and tags to the bottom */
}

.author-name {
    font-weight: bold;
}

time {
    font-style: italic;
}
